<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SkinInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkinInstaller.Properties.Settings>
            <setting name="gameDir" serializeAs="String">
                <value>C:\Riot Games\League of Legends\game\</value>
            </setting>
            <setting name="ch3d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chTx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="part3d" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="partTx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="air" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showEveryTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showUninstallWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="anims" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAllWarnings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="omfgred" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoOverwrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreUpdatesVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wtfRainbows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="size2" serializeAs="String">
                <value>894, 515</value>
            </setting>
            <setting name="dxFormat" serializeAs="String">
                <value>dxt3</value>
            </setting>
            <setting name="sortAscending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="columnToSortBy" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dispTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispAuthor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispFileCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispInstalled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispDateAdded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dispFullDateAdded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dispFullDateInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manualSoundFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="webURLHandleing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lgglogostrangth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="drawGraficsLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="graficsGlow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loadscreensinst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iconcharinst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spelliconsinst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iconSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="hideTempWarningMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optionInstallAsWellOption" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="optionDoneAdding" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="optionReplaceSkinWarning" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="optionReplaceFolderWarning" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="hideAddedFilesMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastSelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showCharSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showAds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fixDDSFiles_1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ddsResizeToSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ddsForceRiotFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="removeUnsafeFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </SkinInstaller.Properties.Settings>
    </userSettings>
	
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
